[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
backoff = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
clone_db = "python clone_db.py"
